
@{
    ViewBag.Title = "修改密码";
}

<h2 style="text-align:center;margin-top:100px">修改个人密码</h2>
<div class="col-lg-offset-4 col-lg-4">
    <p id="info" style="font-size:larger;color:red"></p>
</div>
<div method="post" action="/Account/ChangePassWD" class="form col-lg-offset-4 col-lg-4" >
    <div class="form-group">
        <div class="row">
            <label for="oldPWD" stype="display:inline;" class="col-lg-4">旧密码：</label>
            <input type="password" class="form-control col-lg-6" id="oldPWD" autocomplete="off" />
        </div>
       
    </div>
    <div class="form-group">
        <div class="row">
            <label for="password" style="display:inline;" class="col-lg-4">密码：</label>
            <input type="password" class="form-control col-lg-6" id="password" autocomplete="off" />
        </div>
       
    </div>
    <div class="form-group">
        <div class="row">
            <label for="confirmPassword" style="display:inline;" class="col-lg-4">再次确认密码：</label>
            <input type="password" class="form-control col-lg-6" id="confirmPassword" autocomplete="off" />
        </div>

    </div>
    <div class="row">
        <button type="submit" class="btn btn-info col-lg-2 col-lg-offset-2 left" onclick="update()">修改</button>
        <button type="reset" class="btn btn-danger col-lg-2 col-lg-offset-4 right " onclick="cancel()">取消</button>
    </div>
</div>

 
 <script>
     function update()
     {
         var old = $('#oldPWD').val();
         var first = $('#password').val();
         var second = $('#confirmPassword').val();
         if(first != second)
         {
             $('#info').text("两次输入的新密码不一致，请重新输入！！");
             $('#password').val("");
             $('#confirmPassword').val("");
             return;
         }
         $.post("/Account/ChangePassWD", { oldPassword: old, newPassword: first }, function (data, status) {
             if(data=="Success")
             {
                 $('#info').text("修改成功");
                 //$('#password').val("");
                 //$('#confirmPassword').val("");
             }else
             {
                 $('#info').text(data);
                 $('#password').val("");
                 $('#confirmPassword').val("");
             }
         })
     }

     function cancel()
     {
         $('#info').innerHtml = ""
         $('#password').val("");
         $('#confirmPassword').val("");
         $('#oldPWD').val("");
     }
 </script>

