@using WulingWebApplication.Models
@using Webdiyer.WebControls.Mvc
@model PagedList<PassengerVehicle>
<div style="margin:10px 10px 10px 10px">
    <fieldset>
        <legend>查询</legend>
        @using (Html.BeginForm("MultiQuery", ViewContext.RouteData.GetRequiredString("controller"), new { id = "" }, FormMethod.Post, new { id = "searchForm" }))
        {
            @*<span>标题：</span>*@<input type="text" name="Province" id="Province" hidden style="width:120px" />
            @*<span>作者：</span>*@<input type="text" name="City" id="City" hidden style="width:120px" />@*<span>（如：Webdiyer）</span>*@
            @*<span>来源：</span>*@<input type="text" name="County" id="County" hidden style="width:120px" />@*<span>（如：吴起热线）</span>*@
            <select id="cmbProvince" name="cmbProvince"></select>
            <select id="cmbCity" name="cmbCity"></select>
            <select id="cmbArea" name="cmbArea"></select>
            <input type="submit" value="搜索(S)" accesskey="S" />
        }
    </fieldset>
    <div id="passengerVehicles">
        @Html.Partial("_AjaxSearchPost", Model)
    </div>
</div>
@section Scripts{
    
    @{Html.RegisterMvcPagerScriptResource();}
    
    <script src="~/AppJs/ChineseArea.js"></script>
    <script>addressInit('cmbProvince', 'cmbCity', 'cmbArea');</script> 
    <script>
        $(function(){
            $('form').bind('submit', checkform);
            
        })

  

        function checkform() {

            //alert("check");
            $('#Province').val($('#cmbProvince option:selected').val());
            $('#City').val($('#cmbCity option:selected').val());
            $('#County').val($('#cmbArea option:selected').val());


            return true;


        }
    </script>
    }




